/* BackupRecovery.module.css */
.backupContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
    border: 1px solid #ddd;
     border-radius: 8px;
      background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.backupContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}
.actions {
    text-align: center;
    margin-bottom: 10px;
}
.backupButton {
     padding: 8px 12px;
    background-color: MediumSeaGreen;
    color: lemonchiffon;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px
}
.backupButton:hover {
    background-color: #253725;
}
.testButton {
     padding: 8px 12px;
    background-color: gray;
    color: lemonchiffon;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
      margin: 0 5px
}
.testButton:hover {
    background-color: #253725;
}


@media (max-width: 768px) {
  .backupContainer {
    padding: 15px;
  }
}