/* SystemSettings.module.css */
.settingsContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
    border: 1px solid #ddd;
   border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.settingsContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}
.settingItem {
    margin-bottom: 10px;
}
.settingItem label{
   display: flex;
    align-items: center;
  justify-content: space-between;
}
.settingItem input[type="checkbox"] {
  margin-right: 10px;
}
.settingsInput {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}
.settingsInput:focus{
 border-color: MediumSeaGreen;
}
.saveButton {
    padding: 8px 12px;
    background-color: MediumSeaGreen;
    color: lemonchiffon;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}
.saveButton:hover {
    background-color: #253725;
}
@media (max-width: 768px) {
  .settingsContainer {
    padding: 15px;
  }
}