/* HomePage.module.css */
.homePage {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.header {
    background:MediumSeaGreen;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: lemonchiffon 3px solid;
}


.header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.navMenu {
    margin: 0;
    padding: 0;
}

.navMenu li {
    float: left;
    display: inline;
    padding: 0 20px;
}

.branding {
    float: left;
}
.branding h1 {
    margin: 0;
}


.header nav {
    float: right;
    margin-top: 10px;
}
.highlight, .navMenu .current a {
    color: lemonchiffon;
    font-weight: bold;
}
.header a:hover {
    color: lemonchiffon;
    font-weight: bold;
}


.showcase {
  min-height: 400px;
  background-color: gray;
  text-align: center;
  color: #ffffff;
}

.showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

.showcase p {
  font-size: 20px;
}

.newsletter {
  padding: 15px;
  color: #ffffff;
  background: gray;
}

.newsletter h1 {
  float: left;
}

.newsletter form {
  float: right;
  margin-top: 15px;
}

.newsletter input[type='email'] {
  padding: 4px;
  height: 25px;
  width: 250px;
}
.loginSection, .registrationSection {
  padding: 15px;
  color: #ffffff;
  background: gray;
  margin: 0 auto;
  width: 80%
}
.boxes{
  margin-top:20px;
}

.footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
    background-color: MediumSeaGreen;
  text-align: center;
}


.button1{
  height:38px;
    background: MediumSeaGreen;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: lemonchiffon;
}

/* Media Queries */
@media (max-width: 768px) {
    .header #branding,
    .header nav,
    .header nav li,
    .newsletter h1,
    .newsletter form,
      .loginSection h1,
    .loginSection form,
    .boxes .box,
    .registrationSection h1,
    .registrationSection form {
        float: none;
        text-align: center;
        width: 100%;
    }

    .header {
        padding-bottom: 20px;
    }

    .showcase h1 {
        margin-top: 40px;
    }

   .newsletter button, .loginSection button, .registrationSection button {
        display: block;
        width: 100%;
    }

    .newsletter form input[type="email"] , .loginSection input, .registrationSection input{
        width: 100%;
        margin-bottom: 5px;
    }
}