/* ExtractionFormBuilder.module.css */
.formBuilderContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
   border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.formBuilderContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}
.formDetails {
    display: flex;
    flex-direction: column;
     margin-bottom: 15px;
}
.formInput{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.formInput:focus {
   border-color: MediumSeaGreen;
}
.templateSelect{
   padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
     box-sizing: border-box;
    margin-bottom: 10px;
}
.templateSelect:focus {
  border-color: MediumSeaGreen;
}
.formFields {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 10px;
}
.fieldInput{
    display: flex;
     align-items: center;
    margin-bottom: 10px;
}
.fieldInputText{
     flex: 1;
     padding: 8px;
   border: 1px solid #ccc;
    border-radius: 4px;
      box-sizing: border-box;
     margin-right: 10px;
}
.fieldInputText:focus {
   border-color: MediumSeaGreen;
}
.fieldSelect{
   padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
     box-sizing: border-box;
      margin-right: 10px;
}
.fieldSelect:focus {
  border-color: MediumSeaGreen;
}
.addButton {
     padding: 8px 12px;
    background-color: MediumSeaGreen;
    color: lemonchiffon;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}
.addButton:hover{
    background-color: #253725;
}
.fieldsList {
  margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
}
.fieldItem {
  padding: 8px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}
.editFields{
   padding: 10px;
   border: 1px solid #eee;
   border-radius: 4px;
    margin-bottom: 10px;
}
.updateButton {
    padding: 8px 12px;
    background-color: MediumSeaGreen;
    color: lemonchiffon;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
     margin-top: 10px;
}
.updateButton:hover{
   background-color: #253725;
}
.deleteButton{
   padding: 8px 12px;
    background-color: gray;
    color: lemonchiffon;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}
.deleteButton:hover {
   background-color: #253725;
}
.createButton{
      padding: 8px 12px;
    background-color: MediumSeaGreen;
    color: lemonchiffon;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
     margin-top: 10px;
}
.createButton:hover{
    background-color: #253725;
}
@media (max-width: 768px) {
    .formBuilderContainer {
        padding: 15px;
    }
}