/* SearchQueryBuilder.module.css */
.queryBuilderContainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
    border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.queryBuilderContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}

.queryForm {
  display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.selectInput {
   padding: 8px;
   border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.selectInput:focus{
    border-color: MediumSeaGreen;
}
.queryInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
   box-sizing: border-box;
}
.queryInput:focus{
   border-color: MediumSeaGreen
}
.addButton{
    padding: 8px 12px;
    background-color: MediumSeaGreen;
    color: lemonchiffon;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
      margin-left: 10px;
}
.addButton:hover {
   background-color: #253725;
}
.queryActions {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
.booleanButton {
   padding: 8px 12px;
    background-color: gray;
    color: lemonchiffon;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
}
.booleanButton:hover {
    background-color: #253725;
}
.queryTextarea{
    width: 100%;
    min-height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  box-sizing: border-box;
    margin-bottom: 10px;
}
.queryTextarea:focus{
    border-color: MediumSeaGreen;
}
.saveAndSearch{
    display: flex;
}
.saveButton{
     padding: 8px 12px;
    background-color: MediumSeaGreen;
    color: lemonchiffon;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}
.saveButton:hover{
   background-color: #253725;
}

.searchButton{
 padding: 8px 12px;
    background-color: MediumSeaGreen;
    color: lemonchiffon;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.searchButton:hover {
     background-color: #253725;
}
.savedQueries {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 4px;
}
.savedQueries ul {
    list-style: none;
    padding: 0;
}

.savedQueries li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

@media (max-width: 768px) {
  .queryBuilderContainer {
    padding: 15px;
  }
}
